.side-nav {

    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    @include respond(tab-port) {

        display: flex;
        margin: 0;

    }

    &__item {

        position: relative;

        &:not(:last-child) {

            margin-bottom: .5rem;

            @include respond(tab-port) {

                margin: 0;

            }

        }

        @include respond(tab-port) {

            flex: 1; // gives each flex-item the ability to grow as much as they can within the container, filling the whole row in equal parts
    
        }

    }

    &__item::before {

        content: ""; // without this, the pseudo-element won't show
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: .3rem;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform .2s, 
                    width .4s cubic-bezier(1,0,0,1) .2s, // this has a .2s delay, which allows the transform to occur (.2s) before this expands across (the total time thus takes .4s). cubic-bezier is an animation effect (create one at cubic-bezier.com)
                    background-color .1s;

    }

    &__item:hover::before, &__item--active::before {

        transform: scaleY(1); // the line grows from the vertical middle to the top/bottom (y-axis) on hover
        width: 100%;

    }

    &__item:active::before {

        background-color: var(--color-primary-light);

    }

    &__link:link, &__link:visited {

        color: var(--color-gray-light-1);
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 3rem;
        position: relative; // this allows the z-index to work
        z-index: 10;

        display: flex;
        align-items: center; // vertically aligns its child elements, in this case the icon and the text

        @include respond(tab-port) {

            justify-content: center;
            padding: 2rem;

        }

        @include respond(phone) {

            flex-direction: column;
            padding: 1.5rem .5rem;

        }

    }

    &__icon {

        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor; // uses the color of the parent element (if current element is undefined), which is the __link element here. Makes writing the hover state easier.

        @include respond(phone) {

            margin-right: 0;
            margin-bottom: .7rem;
            width: 1.5rem;
            height: 1.5rem;

        }

    }



}